<html>
    <body>
<div class="container-fluid position-relative overlay-top bg-dark text-white-50 py-5" style="margin-top: 90px;">

        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <a href="index.html" class="navbar-brand">
                        <h1 class="mt-n2 text-uppercase text-white" src="img/about.jpg">VALKYRIE</h1>
                    </a>
                    <p class="m-0" data-en="A vision shaped by determination, a team driven by passion. 9043 FRC Valkyrie means power on the field, strategy in mind, courage in spirit. Stronger every match, further with every step." data-tr="Azimle şekillenen bir vizyon, tutkuyla çalışan bir ekip. 9043 FRC Valkyrie, sahada güç, akılda strateji, ruhta cesaret. Her maçta daha ileri, her adımda daha güçlü.">Azimle şekillenen bir vizyon, tutkuyla çalışan bir ekip. 9043 FRC Valkyrie, sahada güç, akılda strateji, ruhta cesaret. Her maçta daha ileri, her adımda daha güçlü.</p>
                </div>

                <div class="col-md-6 mb-5">
                    <!-- Newsletter bloğu kaldırıldı -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h3 class="text-white mb-4" data-en="Contact" data-tr="İletişim">İletişim</h3>
                    <p data-en="Güzelyurt Neighbourhood, Dr. İbrahim Erdemir Street No:15/D, next to TOKİ 2, P.K. 45030 Yunusemre / Manisa" data-tr="Güzelyurt Mh. Dr. İbrahim Erdemir Cad. No15/D TOKİ 2 Yanı P.K. 45030 YUNUSEMRE/MANİSA"><i class="fa fa-map-marker-alt mr-2"></i>Güzelyurt Mh. Dr. İbrahim Erdemir Cad. No15/D TOKİ 2 Yanı P.K. 45030 YUNUSEMRE/MANİSA</p>
                    <p data-en="Phone: +90 542 116 7295" data-tr="Telefon: +90 542 116 7295"><i class="fa fa-phone-alt mr-2"></i>+90 542 116 7295</p>
                    <p data-en="E-mail: valkyriefrc@gmail.com" data-tr="E-posta: valkyriefrc@gmail.com"><i class="fa fa-envelope mr-2"></i>valkyriefrc@gmail.com</p>

                    <div class="d-flex justify-content-start mt-4">
                        <a class="text-white mr-4" href="https://www.tiktok.com/@valkyrie.9043"><i class="fab fa-2x fa-tiktok"></i></a>
                        <a class="text-white mr-4" href="https://www.linkedin.com/company/valkyrie-frc"><i class="fab fa-2x fa-linkedin-in"></i></a>
                        <a class="text-white mr-4" href="https://www.instagram.com/valkyrie.9043/"><i class="fab fa-2x fa-instagram"></i></a>
                        <a class="text-white" href="https://www.youtube.com/@Valkyrie9043"><i class="fab fa-2x fa-youtube"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white-50 border-top py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                    <p class="m-0">Copyright &copy; <a class="text-white" href="#">team9043</a>. All Rights Reserved.
                    </p>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <!--/*** The author’s attribution link must remain intact in the template. ***/-->
                    <!--/*** If you wish to remove this credit link, please purchase the Pro Version . ***/-->
                    <p class="m-0">Designed by <a class="text-white" href="https://htmlcodex.com">HTML Codex</a></p>
                </div>
            </div>
        </div>
</div>
</body>
</html>